/*-------------------------------------------------------------------------------------------------
Color picker
-------------------------------------------------------------------------------------------------*/
.gameCell {
	cursor:pointer;
	width:85px;
	height:90px;
	float:left;
	margin-right:2px;
	margin-top: 2px;
	border: 1px solid #000000;
	background-repeat: no-repeat;
	background-color: #FFFFFF;

}

.play1val {
	cursor:pointer;
	width:20px;
	height:20px;
	float:left;
	margin-right:2px;
	margin-top: 2px;
	border: 1px solid #000000;

}

.error {
	color:red;
}


